@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  background-color: #09090b;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
